// Design System
@use "./dsystem/colores" as *;
@use "./dsystem/tipografia" as *;
@use "./dsystem/margenes" as *;
@use "./componentes/symbols" as *;

.filtros {
    padding: 2rem;
    width: 100%;
    display: flex;
    overflow: scroll;
    gap: 15px;
}

.filtros::-webkit-scrollbar {
    display: none;
}

@mixin boton($bg-color, $font-color: #fffff2) {
    padding: 10px 30px;
    border-radius: 50px;
    background-color: $bg-color;
    color: $font-color;
    border-style: none;
    transition: 400ms linear;
    font-size: 16px;
}

.btn2 {
    @include boton($color-acento);

    &:hover {
        background-color: $color-primario;
    }
}

.btn3 {
    @include boton($color-complementario, $color-primario);
    border: 1.5px solid $color-primario;

    &:hover {
        background-color: $color-primario;
        color: $color-complementario;
    }
}

.card {
    .card-body {
        .btn-drama {
            text-decoration: none;
            color: $color-acento;
            font-weight: $font-500;
            border-radius: 50px;
            font-size: 16px;
        }

        .symbols-container {
            @include symbols;
        }

    }
}


iframe {
    border-radius: 15px;
}

@media only screen and (min-width: 578px) {

    .card {
        margin-top: 0;
    }
}

@media only screen and (min-width: 768px) {

    .filtros {
        justify-content: space-evenly !important;
    }
}
