.filtros{
    display: flex;
    justify-content: center;
    margin: 25px 1rem 10px 1rem;
}
.btn-filtro1{
    text-decoration: none;
    color: $color-complementario;
    background-color: $color-primario;
    padding: 5px 15px;
    font-weight: $font-500;
    border-radius: 50px;
    font-size: 16px;
    justify-content: center;
}
.btn-filtro1:hover {
    background-color: $color-acento;
    color: $color-complementario;
}
.btn-filtro2{
    text-decoration: none;
    color: $color-complementario;
    background-color: $color-acento;
    padding: 5px 15px;
    font-weight: $font-500;
    border-radius: 50px;
    font-size: 16px;
}
.btn-filtro2:hover {
    background-color: $color-primario;
    color: $color-complementario;
}
.btn-drama{
    text-decoration: none;
    color: $color-acento;
    font-weight: $font-500;
    border-radius: 50px;
    font-size: 16px;
}
.symbols{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-left: 20px;
}

iframe{
    border-radius: 15px;
}