.h4-foodie{
    width: 80vw;
    margin-bottom: 5px;
}

.carousel-foodie{
    margin-top: 50px;
    margin-bottom: 50px;
}
.carousel-img{
    border-radius: 20px;
    width: 100%;
    height: 300px;
}
.card-foodie{
    margin-bottom: 50px;
}
.texto-foodie{
    color: $color-acento;
    font-size: 18px;
    font-weight: $font-normal;   
    margin-right: 30px;
    padding-bottom: 30px;
}
.h3-04{
    color: $color-primario;
    font-size: 25px;
    font-weight: $font-bold;
    margin-bottom: 10px;    
}
.botonfoodie{
    text-decoration: none; 
    color: $color-complementario; 
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400; 
    background-color: $color-acento; 
    border-radius: 50px; 
    padding: 10px 40px;
    transition: background-color 0.3s ease;
}
.botonfoodie:hover {
    background-color: $color-primario;
    color: $color-complementario;
}
