@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.cont-header {
  display: flex;
  flex-direction: column;
  background-size: cover;
  height: 430px;
  background-image: url(../imagenes/mydemonhome.png);
  margin-bottom: 50px;
}

.cont-drama {
  display: flex;
  flex-direction: column;
  background-size: cover;
  height: 430px;
  background-image: url(../imagenes/kokdu.jpg);
  margin-bottom: 50px;
}

.cont-foodies {
  display: flex;
  flex-direction: column;
  background-size: cover;
  height: 430px;
  background-image: url(../imagenes/comidacoreana.jpg);
  margin-bottom: 50px;
}

.cont-eventos {
  display: flex;
  flex-direction: column;
  background-size: cover;
  height: 430px;
  background-image: url(../imagenes/kpop3.jpeg);
  margin-bottom: 50px;
}

.cont-perfil {
  display: flex;
  flex-direction: column;
  background-size: cover;
  height: 430px;
  background-image: url(../imagenes/chaeunwoo.png);
  margin-bottom: 50px;
}

/* NAV */
.navbar {
  display: flex;
  align-self: center;
  width: 90%;
  border-radius: 50px;
  background-color: #fffff2;
  margin-top: 3%;
  position: absolute;
  padding-left: 20px;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.navbar .logo {
  width: 100%;
}
.navbar .navbar-brand {
  margin-right: auto;
  padding-left: 50px;
  color: #800020 !important;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 50px;
  width: 50%;
}
.navbar .navbar-toggler {
  margin-right: 30px;
  border-style: none;
}
.navbar .navbar-nav .nav-item {
  padding-left: 20px;
  padding-right: 50px;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #800020 !important;
  border-radius: 50px;
  padding: 5px 15px;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: #800020;
  color: #fffff2 !important;
}

/* CTA */
.call {
  width: 90%;
  height: 500px;
  margin-left: 10%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin-top: 30%;
}
.call h1 {
  color: #fffff2;
  font-weight: bold;
  margin-bottom: -8px;
}
.call h4 {
  color: #fffff2;
  font-weight: normal;
  line-height: 1.5;
  margin: 5vh 0 5vh 0;
  font-size: 16px;
  width: 75vw;
}
.call .btn1 {
  text-decoration: none;
  color: #800020;
  background-color: #fffff2;
  padding: 5px 15px;
  font-weight: 500;
  border-radius: 50px;
  font-size: 1rem;
  align-self: flex-start;
}
.call .btn1:hover {
  background-color: #800020;
  color: #fffff2;
}

.banner {
  width: 100%;
  height: auto;
  background-size: cover;
  margin: 5vh 0 5vh 0;
}

/* CARD */
.card {
  width: 90%;
  border-style: none;
  margin: 5vh 5vh 5vh 5vh;
}
.card .card-img {
  border-radius: 15px;
}
.card .img-eventos {
  width: 90%;
}
.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .card-body img {
  margin: 5vh 0 5vh 0;
}
.card .card-body .card-title {
  color: #800020;
  font-weight: bold;
  margin-bottom: -8px;
}
.card .card-body .card-text {
  color: #5E6472;
  margin: 5vh 0 5vh 0;
}
.card .card-body .btn {
  background-color: #5E6472;
  color: #fffff2;
  border-radius: 50px;
  transition: background-color 0.5s ease, color 0.5s ease;
  font-size: 12px;
  border-style: none;
  margin: 5vh 0 5vh 0;
  width: 30vw;
}
.card .card-body .btn:hover {
  background-color: #800020;
}
.card .card-video {
  width: 95%;
  height: 170px;
  display: flex;
  margin: 0 auto;
  border-radius: 30px;
}

/* FOOTER */
.footer-body {
  width: 100%;
  height: 530px;
  background-image: url(../imagenes/fondofooter1.jpg.png);
  background-size: cover;
  background-position: right;
  margin-top: 50px;
  /* Sección enlaces */
  /* Sección suscripción a newsletter */
  /* Sección copy rights y propietario */
}
.footer-body .redes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 5vh 0 5vh 0;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.footer-body .redes a {
  text-decoration: none;
  font-size: 25px;
  color: #5E6472;
  padding: 0 20px;
}
.footer-body .redes a:hover {
  color: #800020;
}
.footer-body .enlaces {
  text-align: center;
}
.footer-body .enlaces .titulofooter1 {
  color: #800020;
  font-size: 18px;
  font-weight: bold;
  margin: 2.5vh 0 2.5vh 0;
}
.footer-body .enlaces .enlaces1 {
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.footer-body .enlaces .enlaces1 a {
  font-size: 16px;
  text-decoration: none;
  color: #5E6472;
}
.footer-body .newsletter {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer-body .newsletter .titulofooter2 {
  color: #800020;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: -8px;
}
.footer-body .newsletter .email {
  background-color: #fffff2;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 50px;
  text-align: center;
  margin: 5vh 0 5vh 0;
  color: #800020;
  border: solid 2px #800020;
}
.footer-body .newsletter input::placeholder {
  color: #5E6472;
}
.footer-body .newsletter .buttonfooter {
  background-color: #5E6472;
  color: #fffff2;
  border-color: #fffff2;
  border-style: none;
  padding: 5px 15px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.footer-body .newsletter .buttonfooter:hover {
  background-color: #800020;
  color: #fffff2;
}
.footer-body .textofooter {
  color: #800020;
  font-size: 13px;
  font-weight: 400;
  margin: 5vh 0 5vh 0;
  width: 100%;
  text-align: center;
}
.footer-body .textofooter2 {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  padding-bottom: 10px;
  text-align: center;
}
.footer-body a {
  text-decoration: underline;
  color: #000000;
  margin-right: 6px;
}

.subir {
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.4980392157);
  color: #5E6472;
  position: fixed;
  bottom: 100px;
  right: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px #fff;
}
.subir:hover {
  background-color: #800020;
  color: #fffff2;
}

@media only screen and (min-width: 578px) {
  .navbar .navbar-brand {
    width: 40%;
  }
  .call {
    margin-top: 20vh;
  }
  .call h4 {
    width: 45vw;
    margin: 2.5vh 0 2.5vh 0;
  }
  .card .card-body img {
    margin: 2.5vh 0 2.5vh 0;
  }
  .card .card-body .card-text {
    margin: 2.5vh 0 2.5vh 0;
  }
  .card .card-body .btn {
    margin: 2.5vh 0 2.5vh 0;
    width: 20vw;
  }
  .card .card-body .card-video {
    height: 280px;
  }
  .footer-body {
    height: 800px;
  }
  .footer-body .redes {
    margin-top: 30px;
  }
  .footer-body .redes a {
    font-size: 35px;
  }
  .footer-body .enlaces .titulofooter1 {
    font-size: 30px;
  }
  .footer-body .enlaces .enlaces1 a {
    font-size: 25px;
  }
  .footer-body .newsletter .titulofooter2 {
    font-size: 30px;
    margin-top: 50px;
  }
  .footer-body .newsletter .email {
    width: 50vw;
    font-size: 16px;
    margin: 2.5vh 0 2.5vh 0;
  }
  .footer-body .newsletter .buttonfooter {
    font-size: 16px;
  }
  .footer-body .textofooter {
    font-size: 18px;
  }
  .footer-body .textofooter2 {
    font-size: 16px;
  }
  .subir {
    bottom: 200px;
  }
}
@media only screen and (min-width: 768px) {
  .cont-header, .cont-drama, .cont-foodies, .cont-eventos, .cont-perfil {
    height: 500px;
  }
  .cont-header .navbar .navbar-brand, .cont-drama .navbar .navbar-brand, .cont-foodies .navbar .navbar-brand, .cont-eventos .navbar .navbar-brand, .cont-perfil .navbar .navbar-brand {
    width: 35%;
  }
  .cont-header .navbar .navbar-nav .nav-item, .cont-drama .navbar .navbar-nav .nav-item, .cont-foodies .navbar .navbar-nav .nav-item, .cont-eventos .navbar .navbar-nav .nav-item, .cont-perfil .navbar .navbar-nav .nav-item {
    padding-left: 15px;
    padding-right: 15px;
  }
  .cont-header .call, .cont-drama .call, .cont-foodies .call, .cont-eventos .call, .cont-perfil .call {
    margin-top: 120px;
  }
  .cont-header .call h4, .cont-drama .call h4, .cont-foodies .call h4, .cont-eventos .call h4, .cont-perfil .call h4 {
    width: 40vw;
    font-size: 17px;
    margin: 5vh 0 5vh 0;
  }
  .banner {
    margin: 5vh 0 5vh 0;
  }
  .card .card-body img {
    width: 100px;
    height: auto;
  }
  .card .card-body .card-title {
    font-size: 30px;
  }
  .card .card-body .card-text {
    font-size: 18px;
    margin: 2.5vh 0 2.5vh 0;
  }
  .card .card-body .btn {
    font-size: 16px;
    padding: 5px 5px;
  }
  .footer-body {
    height: 400px;
    background-position: 70% 0;
  }
  .footer-body .redes {
    justify-content: space-evenly;
    background-color: #800020;
    width: auto;
    height: 50px;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    align-items: center;
    margin: 0;
  }
  .footer-body .redes a {
    text-decoration: none;
    font-size: 20px;
    color: #fffff2;
    margin: 0 -6px 0 0;
    padding-left: 0;
    padding-right: 10px;
    text-align: center;
  }
  .footer-body .enlaces {
    text-align: left;
    margin-left: 50px;
    margin-top: 60px;
  }
  .footer-body .enlaces .titulofooter1 {
    color: #fffff2;
    text-shadow: 0 0 5px #000, 0 0 5px #000;
  }
  .footer-body .enlaces .enlaces1 {
    display: flex;
    flex-direction: column;
  }
  .footer-body .enlaces .enlaces1 a {
    text-decoration: none;
    color: #fffff2;
    text-shadow: 0 0 5px #000, 0 0 5px #000;
  }
  .footer-body .newsletter {
    padding-left: 10%;
  }
  .footer-body .newsletter form .email {
    width: 40vw;
    font-size: 16px;
    margin: 2.5vh 0 2.5vh 0;
  }
  .footer-body .textofooter {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-right: 5%;
  }
  .footer-body .textofooter2 {
    font-size: 18px;
    text-align: left;
  }
}
@media only screen and (min-width: 1200px) {
  .cont-header, .cont-drama, .cont-foodies, .cont-eventos, .cont-perfil {
    height: 710px;
  }
  .cont-header .navbar .navbar-brand, .cont-drama .navbar .navbar-brand, .cont-foodies .navbar .navbar-brand, .cont-eventos .navbar .navbar-brand, .cont-perfil .navbar .navbar-brand {
    width: 20%;
  }
  .cont-header .navbar .navbar-collapse, .cont-drama .navbar .navbar-collapse, .cont-foodies .navbar .navbar-collapse, .cont-eventos .navbar .navbar-collapse, .cont-perfil .navbar .navbar-collapse {
    justify-content: end;
    margin-right: 50px;
  }
  .cont-header .call, .cont-drama .call, .cont-foodies .call, .cont-eventos .call, .cont-perfil .call {
    margin-top: 180px;
    margin-left: 7%;
  }
  .cont-header .call h4, .cont-drama .call h4, .cont-foodies .call h4, .cont-eventos .call h4, .cont-perfil .call h4 {
    width: 35vw;
    font-size: 25px;
    margin: 5vh 0 5vh 0;
  }
  .banner {
    margin: 15vh 0 15vh 0;
  }
  .card .card-img {
    height: 370px;
  }
  .card .card-body img {
    width: 70px;
    height: auto;
  }
  .card .card-body .card-text {
    margin: 2.5vh 0 2.5vh 0;
  }
  .card .card-body .btn {
    width: 10vw;
    margin: 0;
  }
  .subir {
    bottom: 40px;
  }
  .footer-body {
    height: 400px;
    background-position: 70% 0;
  }
  .footer-body .redes {
    justify-content: space-evenly;
    background-color: #800020;
    width: 350px;
    height: 50px;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    align-items: center;
    margin: 0;
  }
  .footer-body .enlaces {
    text-align: left;
    margin-left: 50px;
    margin-top: 70px;
  }
  .footer-body .enlaces .titulofooter1 {
    color: #fffff2;
    text-shadow: 0 0 5px #000, 0 0 5px #000;
  }
  .footer-body .enlaces .enlaces1 {
    display: flex;
    flex-direction: column;
  }
  .footer-body .enlaces .enlaces1 a {
    text-decoration: none;
    color: #fffff2;
    text-shadow: 0 0 5px #000000, 0 0 5px #000000;
  }
  .footer-body .enlaces .enlaces1 a:hover {
    color: #800020;
    text-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff;
    font-weight: bold;
  }
  .footer-body .newsletter {
    margin-left: 5%;
  }
  .footer-body .newsletter form .email {
    width: 30vw;
    font-size: 16px;
    margin: 5vh 0 5vh 0;
  }
  .footer-body .textofooter {
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .footer-body .textofooter2 {
    font-size: 18px;
    padding-right: 10%;
    text-align: center;
  }
}
.filtros {
  width: 80%;
  margin: 5vh 5vh 5vh 5vh;
  display: flex;
  overflow-x: hidden;
  justify-content: flex-start;
  gap: 15px;
}

.btn2 {
  padding: 5px 15px;
  border-radius: 20px;
  background-color: #5E6472;
  color: #fffff2;
  border-style: none;
  transition: 400ms linear;
  font-size: 13px;
}
.btn2:hover {
  background-color: #800020;
}

.btn3 {
  padding: 5px 15px;
  border-radius: 20px;
  background-color: #fffff2;
  color: #800020;
  border-style: none;
  transition: 400ms linear;
  font-size: 13px;
  border: 1.5px solid #800020;
}
.btn3:hover {
  background-color: #800020;
  color: #fffff2;
}

.card .card-body .btn-drama {
  text-decoration: none;
  color: #5E6472;
  font-weight: 500;
  border-radius: 50px;
  font-size: 16px;
}
.card .card-body .symbols {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin: 0 0 0 20px;
}

iframe {
  border-radius: 15px;
}

@media only screen and (min-width: 578px) {
  .call h4 {
    width: 40vw;
  }
  .filtros {
    gap: 34px;
  }
  .btn2 {
    font-size: 16px;
  }
  .btn3 {
    font-size: 16px;
  }
  .card {
    margin-top: 0;
  }
  .card .card-video {
    height: 250px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .call h4 {
    width: 30vw;
  }
  .filtros {
    gap: 50px;
  }
  .btn2 {
    font-size: 20px;
  }
  .btn3 {
    font-size: 20px;
  }
  .card .card-video {
    height: 350px;
  }
}
@media only screen and (min-width: 1200px) {
  .card .card-video {
    height: 310px;
  }
  .filtros {
    overflow-x: visible;
    width: 100%;
    justify-content: center;
    gap: 80px;
    margin: 50px 0 80px -30px;
  }
}
.h4-foodie {
  width: 80vw;
  margin-bottom: 5px;
}

.carousel-foodie {
  margin-top: 50px;
  margin-bottom: 50px;
}
.carousel-foodie .carousel-img {
  border-radius: 20px;
  width: 100%;
  height: 200px;
}

.card-foodie {
  margin-bottom: 50px;
}
.card-foodie .h3-04 {
  color: #800020;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.card-foodie .texto-foodie {
  color: #5E6472;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 30px;
}
.card-foodie .botonfoodie {
  text-decoration: none;
  color: #fffff2;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
  background-color: #5E6472;
  border-radius: 50px;
  padding: 10px 30px;
  transition: background-color 0.3s ease;
}
.card-foodie .botonfoodie:hover {
  background-color: #800020;
  color: #fffff2;
}

@media only screen and (min-width: 578px) {
  .carousel-foodie .carousel-img {
    height: 280px;
  }
}
@media only screen and (min-width: 768px) {
  .carousel-foodie .carousel-img {
    height: 350px;
  }
}
@media only screen and (min-width: 1200px) {
  .carousel-foodie .carousel-img {
    height: 450px;
  }
}
/* Banner principal Eventos */
.concurso {
  grid-area: concurso;
  margin: 50px;
}
.concurso .textoeventos {
  margin-top: 20px;
  margin-bottom: 100px;
  color: #5E6472;
  font-size: 18px;
  font-weight: normal;
  row-gap: 10px;
}

.btn-vermas {
  color: #800020;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .card .img-eventos {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .card .img-eventos {
    width: 50%;
  }
}
/* Botón subir o cambiar imágenes */
.boton-upload {
  position: absolute;
  bottom: 100px;
  right: 10px;
  padding: 5px 15px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50px;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.boton-upload:hover {
  background-color: #fffff2;
  color: #800020;
}

.banner-fav {
  background-image: url(../imagenes/Bannerfavoritos.png);
  width: 100%;
  height: 160px;
  background-size: cover;
  margin-bottom: 50px;
}
.banner-fav h2 {
  color: #fffff2;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  align-self: center;
  text-shadow: 0 0 15px #000;
}
.banner-fav h2 {
  font-size: 50px;
}

.banner-fav-drama {
  background-image: url(../imagenes/bannerdramas.png);
  width: 100%;
  height: 160px;
  background-size: cover;
  margin-bottom: 30px;
  background-position: 0 25%;
}
.banner-fav-drama h2 {
  color: #fffff2;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  align-self: center;
  text-shadow: 0 0 15px #000;
}
.banner-fav-drama h2 {
  font-size: 50px;
}

.banner-fav-foodies {
  background-image: url(../imagenes/bannerfoodies.avif);
  width: 100%;
  height: 160px;
  background-size: cover;
  margin-bottom: 30px;
  background-position: 0 50%;
}
.banner-fav-foodies h2 {
  color: #fffff2;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  align-self: center;
  text-shadow: 0 0 15px #000;
}
.banner-fav-foodies h2 {
  font-size: 50px;
}

.banner-fav-eventos {
  background-image: url(../imagenes/bannereventos.webp);
  width: 100%;
  height: 160px;
  background-size: cover;
  margin-bottom: 30px;
  background-position: 0 75%;
}
.banner-fav-eventos h2 {
  color: #fffff2;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  align-self: center;
  text-shadow: 0 0 15px #000;
}
.banner-fav-eventos h2 {
  font-size: 50px;
}

.card-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 70px;
}
.card-2 .text-fav {
  color: #800020;
  font-weight: bold;
  margin-left: 10px;
}
.card-2 .img-fav {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.card-2 .symbols {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin: 0 0 0 20px;
}
.card-2 .ver-receta {
  color: #5E6472;
  margin-left: 20px;
}
.card-2 .ver-receta:hover {
  color: #800020;
}

@media only screen and (min-width: 578px) {
  .boton-upload {
    bottom: 620px;
  }
}
@media only screen and (min-width: 768px) {
  .boton-upload {
    bottom: 560px;
  }
  .banner-fav {
    height: 260px;
  }
  .banner-fav h2 {
    font-size: 60px;
  }
  .banner-fav-drama, .banner-fav-eventos, .banner-fav-foodies {
    height: 260px;
    margin-bottom: 50px;
    margin-top: 100px;
  }
  .banner-fav-drama h2, .banner-fav-eventos h2, .banner-fav-foodies h2 {
    font-size: 50px;
  }
  .card-2 {
    width: 50%;
    height: auto;
    margin: 0 0 100px 0;
  }
  .card-2 .text-fav {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .boton-upload {
    bottom: -110px;
  }
  .banner-fav {
    height: 400px;
    margin: 15vh 0 15vh 0;
  }
  .banner-fav h2 {
    font-size: 150px;
  }
  .banner-fav-drama, .banner-fav-eventos, .banner-fav-foodies {
    height: 400px;
  }
  .banner-fav-drama h2, .banner-fav-eventos h2, .banner-fav-foodies h2 {
    font-size: 80px;
  }
  .card-2 {
    width: 25%;
  }
  .card-2 .text-fav {
    font-size: 25px;
  }
}

/*# sourceMappingURL=estilos.css.map */
