// Design System
@use "../dsystem/colores" as *;
@use "../dsystem/tipografia" as *;
@use "../dsystem/margenes" as *;

.card {
    width: 90%;
    border-style: none;
    margin: $margin-card;

    .card-img {
        border-radius: 15px;
        object-fit: cover;
    }

    .img-eventos {
        width: 90%;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2rem;

        img {
            margin: 2rem 0 0 0;
        }

        .card-title {
            color: $color-primario;
            font-weight: $font-bold;
            margin: 0;
        }

        .card-text {
            color: $color-acento;
            margin: $margin-xs;
        }

        .btn {
            background-color: $color-acento;
            color: $color-complementario;
            border-radius: 50px;
            transition: background-color 0.5s ease, color 0.5s ease;
            font-size: 12px;
            border-style: none;
            margin: $margin-xs;
            width: 30vw;

            &:hover {
                background-color: $color-primario;
            }
        }
    }

    .card-video {
        display: flex;
        flex-direction: column;
        justify-content: center;

        iframe {
            width: 100%;
            height: auto;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}