// Design System
@use "../dsystem/colores" as *;
@use "../dsystem/tipografia" as *;
@use "../dsystem/margenes" as *;

.footer-body {
    width: 100%;
    height: 530px;
    background-image: url(../imagenes/fondofooter1.png);
    background-size: cover;
    background-position: right;
    margin-top: 50px;

    /* Sección enlaces */
    .redes {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin: $margin-sm;
        transition: background-color 0.5s ease, color 0.5s ease;

        a {
            text-decoration: none;
            font-size: 25px;
            color: $color-acento;
            padding: 0 20px;
            transition: 200ms;

            &:hover {
                scale: 1.5;
            }
        }
    }

    .enlaces {
        text-align: center;

        .titulofooter1 {
            color: $color-primario;
            font-size: 18px;
            font-weight: $font-bold;
            margin: $margin-xs;
        }

        .enlaces1 {
            display: flex;
            flex-direction: column;
            transition: background-color 0.5s ease, color 0.5s ease;

            a {
                font-size: 16px;
                text-decoration: none;
                color: $color-acento;
            }
        }
    }

    /* Sección suscripción a newsletter */
    .newsletter {
        display: flex;
        flex-direction: column;
        text-align: center;

        .titulofooter2 {
            color: $color-primario;
            font-size: 18px;
            font-weight: $font-bold;
            margin-top: 30px;
            margin-bottom: -8px;
        }

        .email {
            background-color: $color-complementario;
            font-size: 14px;
            font-weight: 400;
            padding: 5px 15px;
            border-radius: 50px;
            text-align: center;
            margin: $margin-sm;
            color: $color-primario;
            border: solid 2px $color-primario;
        }


        input::placeholder {
            color: $color-acento;
        }

        .buttonfooter {
            background-color: $color-acento;
            color: $color-complementario;
            border-color: $color-complementario;
            border-style: none;
            padding: 5px 15px;
            border-radius: 50px;
            text-decoration: none;
            font-size: 14px;
            font-weight: 400;
            transition: background-color 0.5s ease, color 0.5s ease;

            &:hover {
                background-color: $color-primario;
                color: $color-complementario;
            }
        }
    }

    /* Sección copy rights y propietario */
    .textofooter {
        color: $color-primario;
        font-size: 13px;
        font-weight: 400;
        margin: $margin-sm;
        width: 100%;
        text-align: center;
    }

    .textofooter2 {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        padding-bottom: 10px;
        text-align: center;
    }

    a {
        text-decoration: underline;
        color: #000000;
        margin-right: 6px;
    }
}